<%= turbo_frame_tag "itinerary" do %>
  <%= form_with model: itinerary, data: { action: "turbo:submit-end->modal#close" } do |f| %>
    <div class="input-group input-group-outline row mx-0 mb-3">
      <%= f.label :title, class: "m-0 px-0 fw-bold" do %>
        タイトル（30文字以内で入力）<span class="required">*</span>
      <% end%>
      <%= f.text_field :title, class: "form-control", placeholder: "旅のタイトルを入力" %>
      <div class="<%= "error-message px-0" if itinerary.errors.messages.key?(:title) %>" >
        <%= itinerary.errors.full_messages_for(:title).first if itinerary.errors.any? %>
      </div>
    </div>
    <div class="row">
      <div class="input-group input-group-outline row mx-0 col-sm mb-3 mb-sm-0">
        <%= f.label :departure_date, class: "m-0 px-0 fw-bold" do %>
          出発日 <span class="required">*</span>
        <% end%>
        <%= f.date_field :departure_date, class: "form-control fa fw-normal", id: "departure_date", readonly: "", placeholder: " \uf073 日付を選択" %>
        <div class="col-sm d-sm-none px-0 <%= "error-message" if itinerary.errors.messages.key?(:departure_date) %>" >
          <%= itinerary.errors.full_messages_for(:departure_date).first if itinerary.errors.any? %>
        </div>
      </div>
      <div class="input-group input-group-outline row mx-0 col-sm mb-3 mb-sm-0">
        <%= f.label :return_date, class: "m-0 px-0 fw-bold" do %>
          帰宅日 <span class="required">*</span>
        <% end%>
        <%= f.date_field :return_date, class: "form-control fa fw-normal", id: "return_date", readonly: "", placeholder: " \uf073 日付を選択" %>
        <div class="col-sm d-sm-none px-0 <%= "error-message" if itinerary.errors.messages.key?(:return_date) %>" >
          <%= itinerary.errors.full_messages_for(:return_date).first if itinerary.errors.any? %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mb-4 d-none d-sm-block error-message">
        <%= itinerary.errors.full_messages_for(:departure_date).first if itinerary.errors.any? %>
      </div>
      <div class="col-sm mb-4 d-none d-sm-grid error-message">
        <%= itinerary.errors.full_messages_for(:return_date).first if itinerary.errors.any? %>
      </div>
    </div>
    <div>
      <%= f.label :image, class: "m-0 fw-bold" %>
      <label type="button" class="text-primary text-sm">
        <i class="material-icons opacity-10" style="vertical-align: -4px;">add_a_photo</i>
        <%= f.file_field :image, accept: "image/*", id: "image_input", class: "d-none" %>
        <%= f.hidden_field :image_cache %>
      </label>
      <div class="p-1">
        <%= image_tag itinerary.image.url, id: 'image_preview', class: "border-radius-lg w-100 modal-image" %>
      </div>
    </div>
    <div class="modal-footer justify-content-between mt-4">
      <button type="button" class="btn bg-gradient-light" data-bs-dismiss="modal">キャンセル</button>
      <%= f.submit "保存する", class: "btn bg-gradient-primary" %>
    </div>
  <% end%>
<% end%>
