<%= form_with model: itinerary, data: { action: "turbo:submit-end->modal#close", turbo_frame: "_top" } do |f| %>
  <div class="input-group input-group-outline row mx-0 mb-4">
    <%= f.label :title, class: "m-0 px-0 fw-bold" do %>
      タイトル（30文字以内で入力）<span class="required">必須</span>
    <% end%>
    <%= f.text_field :title, class: "form-control", placeholder: "旅のタイトルを入力" %>
    <div class="error-message" >
      <div class="px-0" id="title_error"></div>
    </div>
  </div>
  <div class="row">
    <div class="input-group input-group-outline row mx-0 col-sm mb-3 mb-sm-0">
      <%= f.label :departure_date, class: "m-0 px-0 fw-bold" do %>
        出発日 <span class="required">必須</span>
      <% end%>
      <%= f.date_field :departure_date, class: "form-control fa fw-normal", id: "departure_date", readonly: "", placeholder: " \uf073 日付を選択" %>
      <div class="col-sm d-sm-none px-0 error-message">
        <div id="departure_date_error_mb"></div>
      </div>
    </div>
    <div class="input-group input-group-outline row mx-0 col-sm mb-3 mb-sm-0">
      <%= f.label :return_date, class: "m-0 px-0 fw-bold" do %>
        帰宅日 <span class="required">必須</span>
      <% end%>
      <%= f.date_field :return_date, class: "form-control fa fw-normal", id: "return_date", readonly: "", placeholder: " \uf073 日付を選択" %>
      <div class="col-sm d-sm-none px-0 error-message" >
        <div id="return_date_error_mb"></div>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-sm mb-4 d-none d-sm-block error-message">
      <div id="departure_date_error"></div>
    </div>
    <div class="col-sm mb-4 d-none d-sm-block ps-4 error-message">
      <div id="return_date_error"></div>
    </div>
  </div>
  <div class="mb-4">
    <%= f.label :image, class: "m-0 fw-bold" %><br>
    <label type="button" class="btn btn-sm btn-outline-primary my-1 mx-0">
      <i class="material-icons opacity-10 me-2 text-sm" style="vertical-align: -2px;">add_a_photo</i>画像を変更
      <%= f.file_field :image, accept: "image/*", id: "image_input", class: "d-none" %>
    </label>
    <div class="p-1">
      <%= image_tag itinerary.image.url, id: 'image_preview', class: "border-radius-lg w-100 modal-image" %>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn bg-gradient-light mb-0" data-bs-dismiss="modal">キャンセル</button>
    <%= f.submit "作成する", class: "btn bg-gradient-primary mb-0" %>
  </div>
  <div id="error_notice"></div>
<% end %>
