<div class="card mb-3 mx-auto max-width-500">
  <div class="card-body text-dark">
    <h6 class="border-bottom pb-2">旅のメンバー</h6>
    <% @itinerary_members.each do |member| %>
      <div class="d-flex justify-content-between mt-3 align-items-center">
        <%= link_to [:user, id: member.id], class:"hover-opacity" do %>
          <%= image_tag member.avatar.url, class: "rounded-circle avatar-thumbnail me-2", alt: "#{member.name}のプロフィール画像" %>
          <p class="d-inline text-sm text-dark"><%= member.name %></p>
        <% end %>
        <% if current_user == @itinerary.owner && member!= @itinerary.owner %>
          <%= link_to [:itinerary_user, id: @itinerary.id, user_id: member.id], data: { turbo_method: :delete, turbo_confirm: member.name + 'をメンバーから削除しますか？' } do %>
            <i class="material-icons p-2 fw-normal text-dark link-area rounded-circle">person_remove</i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="mt-4 pt-3">
      <%= link_to :new_itinerary_user, class: "btn btn-outline-primary d-flex align-items-center justify-content-center", data: { turbo_frame: "modal" } do %>
        <i class="material-icons me-2 fs-5">person_add</i>
        <p class="text-sm" style="text-transform:none;">BesTrip IDでメンバーを招待</p>
      <% end %>
      <%= link_to [:new_user_invitation, itinerary_id: @itinerary.id], class: "btn btn-outline-accent d-flex align-items-center justify-content-center", data: { turbo_frame: "modal" } do %>
        <i class="material-icons-outlined me-2 fs-5">email</i>
        <p class="text-sm">メールでメンバーを招待</p>
      <% end %>
    </div>
  </div>
</div>
