<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-4 px-3 px-sm-6 min-vh-100">
    <div class="max-width-850 mx-auto">
    <div class="row">
      <% if @itineraries.blank? %>
        <p class="text-center text-dark">旅のプランは登録されていません</p>
      <% else %>
        <% @itineraries.each do |itinerary| %>
          <div class="col-6 my-4 mb-sm-5 px-1 px-sm-3 ">
            <%= link_to itinerary_schedules_path(itinerary.id), data: { turbo: false } do %>
              <div class="card cursor-pointer">
                <div class="card-header position-relative mt-n4 mx-1 mx-sm-3 p-0 z-index-2 bg-transparent">
                  <%= image_tag itinerary.image.url, class: "border-radius-lg shadow-dark w-100" %>
                </div>
                <div class="card-body p-2 p-sm-4">
                  <h5 class="mb-0 d-none d-sm-block text-ellipsis"><%= itinerary.title %></h5>
                  <p class="mb-1 d-sm-none text-center text-ellipsis fw-bold text-xs pt-2"><%= itinerary.title %></p>
                  <p class="mb-1 d-none d-sm-block text-dark text-sm"><%= l itinerary.departure_date %> 〜 <%= l itinerary.return_date %></p>
                  <p class="mb-1 d-block d-sm-none text-dark text-xxs text-center"><%= l itinerary.departure_date %> - <%= l itinerary.return_date %></p>
                  <p class="d-none d-sm-block mt-2 text-dark text-ellipsis"><i class="material-icons pe-2" style="vertical-align: -4.5px;">group</i><%= member_names(itinerary) %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="fixed-plugin-button position-fixed rounded-pill px-3 py-2 btn bg-gradient-primary">
      <%= link_to :new_itinerary, data: { turbo_frame: "modal" } do %>
        <p class="py-1 text-white fw-bold"><i class="material-icons" style="vertical-align: -3.5px;">add_circle</i> 旅のプランを作成</p>
      <% end %>
    </div>
  </div>
</main>
