<% provide :title, "旅のプラン一覧" %>
<%= render 'layouts/sidenav' %>
<main class="main-content position-relative bg-pearl-white">
  <h5 class="page-heading">旅のプラン一覧</h5>
  <div class="container-fluid py-4 px-0 px-sm-2 min-vh-100">
    <div class="max-width-850 mx-auto">
      <% if @invited_itineraries.count > 0 %>
        <div class="mb-4">
          <% @invited_itineraries.each do |itinerary| %>
            <div class="invitation-notification border-radius-md mx-3 mb-2 p-2">
              <%= link_to [:new_itinerary_user, id: itinerary.id], class:"d-flex align-items-center hover-opacity", data: { turbo_frame: "modal" } do %>
                <span class="material-symbols-outlined text-danger">notification_important</span>
                <p class="text-sm text-dark">「<%= itinerary.title %>」に招待されています</p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row mx-0">
        <% if @itineraries.blank? %>
          <p class="p-4 text-center text-sm text-dark">旅のプランはありません</p>
        <% else %>
          <%= render @itineraries %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/fixed_button', locals: { path: :new_itinerary, link_text: "新しいプランを作成" } %>
</main>
<% if @invited_itinerary && @invited_itinerary.invitees.include?(current_user) %>
  <%= render "shared/modal", title: "旅のプランに招待されています" do %>
    <%= render "itinerary_users/form", itinerary: @invited_itinerary %>
  <% end %>
<% end %>

