<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-5 px-sm-6 px-3">
    <div class="row">
     <% if @itineraries.blank? %>
      <div class="text-center p-6 mb-10">
        旅のプランは登録されていません
      </div>
      <% else %>
        <% @itineraries.each do |itinerary| %>
          <div class="col-lg-6 col-md-6 pt-4 pb-5 px-3">
            <%= link_to [:itinerary, id: itinerary.id] do %>
              <div class="card itinerary-card z-index-2">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                  <%= image_tag itinerary.image.url, class: "border-radius-lg shadow-dark w-100" %>
                </div>
                <div class="card-body text-dark">
                  <h5 class="mb-0"><%= itinerary.title %></h5>
                  <p ><%= l itinerary.departure_date %> 〜 <%= l itinerary.return_date %></p>
                  <hr class="dark horizontal">
                  <div class="d-flex">
                    <i class="material-icons text-sm my-auto me-1">group</i>
                    <p class="mb-0 text-sm">メンバーを入れる</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="fixed-plugin-button position-fixed rounded-pill px-3 py-2">
      <%= turbo_frame_tag "itinerary" do %>
        <%= link_to :new_itinerary, data: { turbo_frame: "modal" } do %>
          <p class="mb-0 py-1"><i class="material-icons" style="vertical-align: -4.5px;">add_circle</i> 旅のプランを作成</p>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
