<% provide :title, "旅のプラン一覧" %>
<%= render 'layouts/sidenav' %>
<main class="main-content position-relative bg-pearl-white">
  <h5 class="page-heading">旅のプラン一覧</h5>
  <div class="container-fluid py-4 px-0 px-sm-2 min-vh-100">
    <div class="max-width-850 mx-auto">
      <div class="row mx-0">
        <% if @itineraries.blank? %>
          <p class="p-4 text-center text-sm text-dark">旅のプランは登録されていません</p>
        <% else %>
          <%= render @itineraries %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/fixed_button', locals: { path: :new_itinerary, link_text: "新しいプランを作成" } %>
</main>
<% if @itinerary && @itinerary.invitation_pending?(current_user)  %>
  <%= render "shared/modal", title: "旅のプランに招待されています" do %>
    <%= render "itinerary_users/new", itinerary: @itinerary %>
  <% end %>
<% end %>

