<%= turbo_frame_tag "place" do %>
  <% if @places %>
    <ul class="mb-0 px-3 d-block">
      <% @places.each do |place| %>
        <%=link_to [:place_itinerary, place_id: place.place_id], data: { turbo: false } do %>
          <li class="link-area d-flex py-2">
            <div class="d-table">
              <i class="material-icons text-secondary text-2xl px-2 d-table-cell align-middle">location_on</i>
            </div>
            <div class="pe-3">
              <span class="text-sm"><%= place.name %></span><br class="d-md-none">
              <span class="text-xs d-block d-md-inline text-secondary"><%= short_address(place.formatted_address) %></span>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
<%= turbo_frame_tag "places_within_schedule_form" do %>
  <% if @places %>
    <ul class="mb-0 px-2 d-block">
      <% @places.each_with_index do |place, i| %>
        <div class="d-flex">
          <%= button_tag type: :submit, formaction: :add_place_to_schedule, formmethod: :get, id: "add-place-btn", class: "border-0 bg-transparent d-none" %>
          <li class="d-flex py-2">
            <input type="radio" name="place_id" id="place-<%= i %>" value="<%= place.place_id %>" class="d-none">
            <label for="place-<%= i %>" class="d-table m-0" >
              <i class="material-icons text-secondary d-table-cell align-middle place-add-icon">add_location_alt</i>
            </label>
            <div class="px-2 lh-1">
              <span class="text-xs fw-bold text-dark"><%= place.name %></span><br>
              <span class="text-xs d-block text-secondary"><%= short_address(place.formatted_address) %></span>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  <% end %>
<% end %>
