<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-5 px-sm-6 px-3">
    <div class="card z-index-2 w-md-60 mx-auto">
      <div class="card-body text-dark">
        <div class="d-flex border-bottom justify-content-between">
          <h4 class="modal-title">旅のプラン情報</h4>
          <div>
            <%= turbo_frame_tag "itinerary" do %>
              <%= link_to :edit_itinerary, data: { turbo_frame: "modal" } do %>
                <i class="material-icons text-2xl" style="vertical-align: -10px;">edit</i>
              <% end %>
            <% end %>
            <% if current_user == @itinerary.owner %>
              <%= link_to [:itinerary, id: @itinerary.id], data: { turbo_method: :delete, turbo_confirm: 'この旅のプランを削除しますか？この操作は取り消せません。' }  do %>
                <i class="material-icons text-2xl px-1 fw-normal" style="vertical-align: -10px;">delete</i>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= image_tag @itinerary.image.url, class: "border-radius-lg shadow-dark w-100 my-3" %>
        <h5 class="mb-1"><%= @itinerary.title %></h5>
        <p ><%= l @itinerary.departure_date %> 〜 <%= l @itinerary.return_date %></p>
        <hr class="dark horizontal">
        <div class="d-flex">
          <p class="mb-0 text-sm">作成者：<%= @itinerary.owner.name %></p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= form_with url: :search_user, method: :get do |f| %>
      <div class="row g-3 justify-content-center first-view-search">
        <div class="col-11">
          <%= f.text_field :bestrip_id, class: "form-control", placeholder: "エリア名を入力" %>
        </div>
        <div class="col-11">
          <%= f.submit "検索", class: "button1" %>
        </div>
      </div>
    <% end %>
  </div>
</main>
