<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-sm-5 px-sm-6 py-4 px-3 min-vh-100">
    <div class="card z-index-2 w-md-60 mx-auto mb-4">
      <div class="card-body text-dark">
        <div class="d-flex border-bottom justify-content-between">
          <h5>旅のプラン情報</h5>
          <div>
            <%= turbo_frame_tag "itinerary" do %>
              <%= link_to :edit_itinerary, data: { turbo_frame: "modal" } do %>
                <i class="material-icons text-2xl" style="vertical-align: -10px;">edit</i>
              <% end %>
            <% end %>
            <% if current_user == @itinerary.owner %>
              <%= link_to [:itinerary, id: @itinerary.id], data: { turbo_method: :delete, turbo_confirm: 'この旅のプランを削除しますか？この操作は取り消せません。' } do %>
                <i class="material-icons text-2xl px-1 fw-normal" style="vertical-align: -10px;">delete</i>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= image_tag @itinerary.image.url, class: "border-radius-lg shadow-dark w-100 my-3" %>
        <p class="mt-1"><span class="fw-bold text-xs">タイトル</span><br><%= @itinerary.title %></p>
        <p><span class="fw-bold text-xs">旅行期間</span><br><%= l @itinerary.departure_date %> 〜 <%= l @itinerary.return_date %></p>
        <p>
          <span class="fw-bold text-xs d-inline-block mb-2">旅のプラン作成者</span><br>
          <%= image_tag @itinerary.owner.avatar.url, id: 'image-preview', class: "rounded-circle avatar-thumbnail me-2" %>
          <%= @itinerary.owner.name %>
        </p>
      </div>
    </div>
    <div class="card z-index-2 w-md-60 mx-auto">
      <div class="card-body text-dark">
        <div class="border-bottom">
          <h5>旅のメンバー</h5>
        </div>
        <% @itinerary_members.each do |member| %>
          <div class="d-flex justify-content-between mt-3">
            <div>
              <%= image_tag member.avatar.url, id: 'image-preview', class: "rounded-circle avatar-thumbnail me-2" %>
              <%= member.name %>
              <% if member == @itinerary.owner %>
                <i class="material-icons" style="vertical-align: -3.5px;">star</i>
              <% end %>
            </div>
            <% if current_user == @itinerary.owner && member!= @itinerary.owner %>
              <%= link_to [:remove_member_itinerary, id: @itinerary.id, user_id: member.id], data: { turbo_method: :delete, turbo_confirm: member.name + 'をメンバーから削除しますか？' } do %>
                <i class="material-icons px-1 fw-normal" style="vertical-align: -10px;">person_remove</i>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <hr class="dark horizontal">
        <%= turbo_frame_tag "new_member" do %>
          <%= link_to :new_member_itinerary, data: { turbo_frame: "modal" } do %>
            <p class="text-center mb-0"><i class="material-icons" style="vertical-align: -4.5px;">person_add</i> メンバーを追加</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
