<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-sm-5 px-sm-6 py-4 px-3 min-vh-100">
    <div class="card z-index-2 w-md-60 mx-auto mb-4">
      <div class="card-body text-dark">
        <div class="d-flex border-bottom justify-content-between">
          <h5>旅のプラン情報</h5>
          <div>
            <%= link_to :edit_itinerary, data: { turbo_frame: "modal" } do %>
              <i class="material-icons text-2xl" style="vertical-align: -10px;">edit</i>
            <% end %>
            <% if current_user == @itinerary.owner %>
              <%= link_to [:itinerary, id: @itinerary.id], data: { turbo_method: :delete, turbo_confirm: 'この旅のプランを削除しますか？この操作は取り消せません。' } do %>
                <i class="material-icons text-2xl px-1 fw-normal" style="vertical-align: -10px;">delete</i>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= image_tag @itinerary.image.url, class: "border-radius-lg shadow-dark w-100 my-3" %>
        <p class="my-2"><span class="fw-bold text-xs">タイトル</span><br><%= @itinerary.title %></p>
        <p class="my-2"><span class="fw-bold text-xs">旅行期間</span><br><%= l @itinerary.departure_date %> 〜 <%= l @itinerary.return_date %></p>
        <p>
          <span class="fw-bold text-xs d-inline-block mb-2">旅のプラン作成者</span><br>
          <%= image_tag @itinerary.owner.avatar.url, id: 'image-preview', class: "rounded-circle avatar-thumbnail me-2" %>
          <%= @itinerary.owner.name %>
        </p>
      </div>
    </div>
    <div class="card z-index-2 w-md-60 mx-auto">
      <div class="card-body text-dark">
        <div class="border-bottom">
          <h5>旅のメンバー</h5>
        </div>
        <% @itinerary_members.each do |member| %>
          <div class="d-flex justify-content-between mt-3">
            <div>
              <%= image_tag member.avatar.url, id: 'image-preview', class: "rounded-circle avatar-thumbnail me-2" %>
              <p class="text-sm d-inline fw-bold"><%= member.name %></p>
              <% if member == @itinerary.owner %>
                <i class="material-icons" style="vertical-align: -4.5px;">star</i>
              <% end %>
            </div>
            <% if current_user == @itinerary.owner && member!= @itinerary.owner %>
              <%= link_to [:itinerary_user, id: @itinerary.id, user_id: member.id], data: { turbo_method: :delete, turbo_confirm: member.name + 'をメンバーから削除しますか？' } do %>
                <i class="material-icons p-2 fw-normal link-area rounded-circle" style="vertical-align: -10px;">person_remove</i>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <hr class="dark horizontal mb-2">
          <%= link_to :new_itinerary_user, data: { turbo_frame: "modal" } do %>
            <p class="text-center text-sm link-area py-2"><i class="material-icons me-1" style="vertical-align: -4.5px;">person_add</i> メンバーを追加</p>
          <% end %>
      </div>
    </div>
  </div>
</main>
