
<%= turbo_frame_tag "member" do %>
  <%= form_with url: :itinerary_users, data: { action: "turbo:submit-end->modal#close" } do |f| %>
    <div class="d-flex flex-column align-items-center my-5">
      <%= image_tag @user.avatar.url, id: 'image-preview', class: "rounded-circle avatar mb-2" %>
      <p class="text-dark fw-bold"><%= @user.name %></p>
      <%= f.hidden_field :user_id, value: @user.id %>
      <div class="mt-2">
        <% if @itinerary.members.include?(@user) %>
          <p class="text-dark text-sm">すでにメンバーに追加されています</p>
        <% else %>
          <%= f.submit "メンバーに追加", class: "btn bg-gradient-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
