<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-sm-5 px-sm-6 py-4 px-3">
    <div class="card card-body p-5">
      <h5 class="mb-5">メールアドレスの変更</h5>
        <div class="text-sm mb-3">変更するメールアドレスを入力してください。</div>
          <%= form_with model: resource, url: users_update_without_password_path, data: { turbo: false }, local: true do |f| %>
            <div class="row mb-4 input-group input-group-outline">
              <%= f.label :email, class: "col-sm-2 col-form-label-lg m-0 fw-bold" %>
              <div class="col-sm-9">
                <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
                <div class="<%= "error-message" if resource.errors.messages.key?(:email) %>" >
                  <%= resource.errors.full_messages_for(:email).first if resource.errors.any? %>
                </div>
              </div>
            </div>
            <div class="mt-3 text-center ms-auto">
              <%= f.submit "変更する", class: "btn bg-gradient-primary mt-4 px-6 btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="fixed-plugin">
  <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
    <i class="material-icons py-2">settings</i>
  </a>
</div>
