<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <h5 class="page-heading">プロフィール編集</h5>
  <div class="container-fluid py-3 py-sm-4 px-0 min-vh-100">
    <div class="card mx-auto p-4 max-width-550">
      <div class="px-2">
        <%= form_with model: resource, url: users_update_without_password_path do |f| %>
          <div class="d-flex mt-2 mb-3">
            <%= image_tag resource.avatar.url, id: 'image_preview', class: "rounded-circle avatar" %>
            <div class="ms-4 d-flex">
              <label type="button" class="btn btn-outline-primary fw-bold my-auto px-3 d-flex align-items-center">
                <i class="material-icons opacity-10 me-2">add_a_photo</i>
                <span>画像を変更</span>
                <%= f.file_field :avatar, accept: "image/*", id: "image_input", class: "d-none" %>
              </label>
            </div>
          </div>
            <div class="d-block mb-4 text-xs text-dark">「保存する」ボタンを押すと画像の変更が保存されます。</div>
          <div class="input-group input-group-outline row mx-0 mb-4">
            <%= f.label :name, class: "mx-0 mb-1 px-0 fw-bold" do %>
              ニックネーム（20文字以内）<span class="required">必須</span>
            <% end %>
            <%= f.text_field :name, class: "form-control", autocomplete: "name", placeholder: "ニックネームを入力" %>
            <div class="<%= "error-message" if resource.errors.messages.key?(:name) %>" >
              <%= resource.errors.full_messages_for(:name).first if resource.errors.any? %>
            </div>
          </div>
          <div class="input-group input-group-outline row mx-0 mb-4">
            <%= f.label :bestrip_id, class: "mx-0 mb-1 px-0 fw-bold" do %>
              BesTrip ID<span class="d-none d-sm-inline">（半角英数字とアンダーバー(_) 5〜20文字）</span>
              <i class="material-icons fs-5" style="vertical-align: -5px;" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="旅のプランにメンバーを追加するときに使用するIDです。設定すると、友だちがあなたをID検索できるようになります。">help</i>
              <span class="d-block d-sm-none">（半角英数字とアンダーバー(_) 5〜20文字）</span>
            <% end %>
            <%= f.text_field :bestrip_id, class: "form-control", placeholder: "お好みのIDを入力" %>
            <div class="px-0" id="bestrip_id">
              <div class="d-sm-flex align-items-center">
                <%= button_tag "IDが使用可能か確認", type: :submit, formaction: :validate_bestrip_id, formmethod: :patch, class: "btn bg-light btn-sm my-1 text-dark fw-bold" %>
                <div class="error-message" >
                  <%= @user.errors.full_messages_for(:bestrip_id).first if @user.errors.any? %>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group input-group-outline row mx-0 mb-4">
            <%= f.label :introduction, class: "mx-0 mb-1 px-0 fw-bold" do %>
              自己紹介（500文字以内）
            <% end %>
            <%= f.text_area :introduction, id: "text_input", class: "form-control mb-1", rows: "7", placeholder: "500文字以内で入力" %>
            <div class="d-flex justify-content-between px-0">
              <div></div>
              <div id="char_count" class="text-xs"><span>0</span>/500</div>
            </div>
          </div>
          <div class="mt-3 text-center ms-auto">
            <%= f.submit "保存する", id: "submit_btn", class: "btn bg-gradient-primary mt-4 px-6 btn-lg", data: { turbo: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

