<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-sm-5 py-4 px-1 min-vh-100">
    <div class="row max-width-1000 mx-auto">
      <% if current_user.favorites.blank? %>
        <p class="text-center text-dark">行きたい場所は登録されていません</p>
      <% else %>
        <% @place_details_list.each do |place| %>
          <div class="col-md-6 col-lg-4 mt-3 mb-4 mb-md-5 px-3 cursor-pointer">
            <%= link_to [:favorite, id: place[:favorite_id]], data: { turbo_frame: "modal" } do %>
              <div class="card ">
                <div class="card-header position-relative mt-n3 mx-3 p-0 z-index-2 bg-transparent">
                  <%= image_tag place[:photo_url], class: "favorite-image border-radius-lg shadow-dark w-100" %>
                </div>
                <div class="card-body p-3 position-relative">
                  <% if place[:error] %>
                    <p class="error-message"><%= place[:error] %></p>
                  <% else %>
                    <p class="pe-4 text-dark fw-bold lh-sm text-ellipsis"><%= place[:name] %></p>
                    <p class="mb-3 text-xs text-dark fw-bold pt-1">クチコミ評価<i class="material-icons rating-icon ps-1">star</i><%= place[:rating] %></p>
                    <%= link_to [:favorite, id: place[:favorite_id]], data: { turbo_method: :delete, turbo_confirm: 'このスポットをお気に入りから削除しますか？' }, class: "position-absolute top-10 end-2 text-secondary" do %>
                      <i class="material-icons rounded-circle p-1 link-area">close</i>
                    <% end %>
                    <%= link_to "旅のプランに追加", destinations_new_itineraries_path(place_id: place[:place_id]), data: { turbo_frame: "modal" }, class: "btn btn-sm btn-primary mb-0 py-2 w-100" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
