<%= render "layouts/modal", title: "スポット情報" do %>
  <% if @error %>
    <p class="text-sm text-danger"><span class="material-symbols-outlined fs-6 pe-1" style="vertical-align: -2.8px;">error</span><%= @error %></p>
  <% else %>
    <%= render 'photo_carousel' %>
    <div class="mb-3 pb-2 border-bottom">
      <p class="fs-4 mt-2 text-dark fw-bold lh-sm"><%= @place_details[:name] %></p>
      <% if @place_details[:rating] %>
        <p class="text-xs text-dark fw-bold pt-1">クチコミ評価<i class="material-icons rating-icon ps-1">star</i><%= @place_details[:rating] %></p>
      <% end %>
    </div>
    <div class="row my-1 py-2">
      <i class="col-1 material-icons pe-1 text-primary">location_on</i>
      <p class="col-11 text-sm text-dark"><%= @place_details[:address] %></p>
    </div>
    <% if @place_details[:opening_hours] %>
      <div class="row my-1 py-2">
        <i class="col-1 material-icons pe-1 text-primary">schedule</i>
        <div class="col-11">
          <% @place_details[:opening_hours][:weekday_text].each do |opening_hour| %>
            <p class="text-sm text-dark"><%= opening_hour %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @place_details[:phone_number] %>
      <div class="row my-3">
        <i class="col-1 material-icons pe-1 text-primary">call</i>
        <p class="col-11 text-sm text-dark"><%= @place_details[:phone_number] %></p>
      </div>
    <% end %>
    <% if @place_details[:url] %>
      <div class="row my-1 py-2 link-area">
        <i class="col-1 material-icons pe-1 text-primary">open_in_new</i>
        <%= link_to "Google Mapで見る", @place_details[:url], class: "col-11 text-sm text-dark", target: :_blank %>
      </div>
    <% end %>
    <% if @place_details[:website] %>
      <div class="row my-1 py-2 link-area">
        <i class="col-1 material-icons pe-1 text-primary">public</i>
        <%= link_to "公式サイト", @place_details[:website], class: "col-11 text-sm text-dark", target: :_blank %>
      </div>
    <% end %>
    <%= turbo_frame_tag "alert" do %>
      <%= form_with model: [@itinerary, @favorite] do |f| %>
        <%= f.hidden_field :place_id, value: @place_id %>
        <% if favorites_list_includes?(@itinerary, @place_id) %>
          <button class="btn btn-outline-primary d-block mt-3 w-100" disabled>行きたい場所リストに追加済み</button>
        <% elsif @itinerary.favorites.count >= 3 %>
          <%= f.submit "行きたい場所リストに追加する", class: "btn bg-gradient-primary d-block mt-3 mb-0 w-100", disabled: true %>
          <p class="error-message">ひとつの旅のプランにつき、行きたい場所リストへの登録は300件までです</p>
        <% else %>
          <%= f.submit "行きたい場所リストに追加する", class: "btn bg-gradient-primary d-block mt-3 w-100" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
