<%= turbo_frame_tag comment, class: "" do %>
  <div class="d-flex mt-3">
    <div class="">
      <%= link_to [:user, id: comment.user.id], data: { turbo_frame: "_top" }, class: "hover-opacity" do %>
        <%= image_tag comment.user.avatar.url, class: "avatar avatar-thumbnail mt-1" %>
      <% end %>
    </div>
    <div class="ms-2">
      <div class="p-2 bg-gray-200 border-radius-lg ">
        <%= link_to [:user, id: comment.user.id], data: { turbo_frame: "_top" }, class: "hover-opacity" do %>
          <p class="px-1 text-sm text-dark fw-bold"><%= comment.user.name %></p>
        <% end %>
        <p class="px-1 text-sm text-dark lh-sm w-100"><%= comment.content %></p>
      </div>
      <div class="mt-1 ps-2 d-flex align-items-center">
        <p class="ps-1 text-xs text-secondary"><%= time_since_creation(comment.created_at) %></p>
        <%= link_to "返信", [:comment, id: comment.id], class: "d-flex align-items-center ms-3 text-xs fw-bold text-secondary hover-opacity", data: { turbo_method: :delete, turbo_confirm: 'このコメントを削除しますか？' } %>
        <% if (current_user == comment.user) || (current_user == @post.user) %>
          <%= link_to "削除", [:comment, id: comment.id], class: "d-flex align-items-center ms-3 text-xs fw-bold text-secondary hover-opacity", data: { turbo_method: :delete, turbo_confirm: 'このコメントを削除しますか？' } %>
        <% end %>
      </div>
      <% if comment.replies_count > 0 %>
        <%= turbo_frame_tag "replies_#{comment.id}" do %>
          <%= link_to [:show_replies_post, comment_id: comment.id], class: "d-flex align-items-center mt-3 ms-2", data: { turbo_frame: "replies_#{comment.id}" } do %>
            <p class="ms-1 text-xs text-dark">
              <span style="letter-spacing:-0.18em;margin-right:1em;">ーー</span>返信<%= comment.replies_count %>件を表示する
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
