<%= turbo_frame_tag reply, class: "" do %>
  <div class="d-flex mt-3">
    <%= link_to [:user, id: reply.user.id], data: { turbo_frame: "_top" }, class: "hover-opacity" do %>
      <%= image_tag reply.user.avatar.url, class: "avatar avatar-thumbnail mt-1" %>
    <% end %>
    <div class="ms-2 flex-fill">
      <div class="p-2 bg-gray-200 border-radius-lg">
        <%= link_to [:user, id: reply.user.id], data: { turbo_frame: "_top" }, class: "hover-opacity" do %>
          <p class="px-1 text-sm text-dark fw-bold"><%= reply.user.name %></p>
        <% end %>
        <p class="px-1 text-sm text-dark lh-sm w-100"><%= reply.content %></p>
      </div>
      <div class="mt-1 ps-2 d-flex align-items-center">
        <p class="ps-1 text-xs text-secondary"><%= time_since_creation(reply.created_at) %></p>
        <%= link_to "返信", [:new_reply_post, comment_id: reply.id],
          class: "d-flex align-items-center ms-3 text-xs fw-bold text-secondary hover-opacity", data: { turbo_frame: "comment_form" } %>
        <% if (current_user == reply.user) || (current_user == @post.user) %>
          <%= link_to "削除", [:comment, id: reply.id], class: "d-flex align-items-center ms-3 text-xs fw-bold text-secondary hover-opacity", data: { turbo_method: :delete, turbo_confirm: 'このコメントを削除しますか？' } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
