<%= turbo_frame_tag "comment_form" do %>
  <div class="d-flex mt-3">
    <%= link_to [:user, id: current_user.id], data: { turbo_frame: "_top" }, class: "hover-opacity" do %>
      <%= image_tag current_user.avatar.url, class: "avatar avatar-thumbnail" %>
    <% end %>
    <div class="flex-fill ms-2">
      <%= form_with model: @new_reply do |f| %>
        <div class="input-group input-group-outline">
          <%= f.hidden_field :parent_id, value: @new_reply.parent.id %>
          <%= f.text_area :content, id: "text_input", class: "form-control", rows: "2", placeholder: "#{@comment.user.name}さんに返信…", autofocus: true %>
        </div>
        <div class="mt-2 d-flex justify-content-end">
          <%= link_to "キャンセル", [:post, id: @comment.post], data: { turbo_frame: "comment_form" }, class: "btn btn-sm bg-gradient-light" %>
          <%= button_tag "投稿する", type: "submit", id: "submit_btn", class: "btn btn-sm bg-gradient-primary ms-2" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


