<div id="like_<%= @post.id %>">
  <%= form_with url: likes_path do |f| %>
    <% if @post.liked_by? current_user %>
      <%= link_to [:like, id: @post.id], class: "d-flex align-items-center text-favorite lh-1", data: { turbo_method: :delete } do %>
        <i class="material-icons me-1" style="font-size:22px;">favorite</i><span class="text-sm"><%= @post.likes_count %></span>
      <% end %>
    <% else %>
      <%= button_tag type: "submit", class: "d-flex align-items-center p-0 border-0 hover-opacity text-secondary bg-transparent" do %>
        <i class="material-icons me-1" style="font-size:22px;">favorite_border</i><span class="text-sm"><%= @post.likes_count %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
