<% provide :title,  @user.name + "さんのプロフィール" %>
<main class="main-content position-relative bg-pearl-white">
  <div class="container-fluid py-4 px-sm-4 min-vh-100">
    <div class="mt-n4 mx-n4 mb-4 py-4 px-4 px-sm-5 bg-white">
      <div class="mx-auto max-width-700">
        <div class="row mb-3 p-1 d-flex align-items-center">
          <div class="col-3 col-sm-2 pe-1">
            <%= image_tag @user.avatar.url, class: "rounded-circle w-100" %>
          </div>
          <div class="col-8 col-sm-9 ps-sm-4 text-dark">
            <p class="fs-5 fw-bold lh-1"><%= @user.name %></p>
            <% if @user.bestrip_id %>
              <p class="text-sm text-secondary">@<%= @user.bestrip_id %></p>
            <% end %>
            <div class="d-flex ">
              <p class="pt-2 text-sm text-dark">投稿<%= @user.posts.count %>件</p>
              <p class="ms-4 pt-2 text-sm text-dark"><%= link_to_if @user == current_user, "旅のプラン#{@user.itineraries.count}件", itineraries_path, class: "text-dark hover-opacity" %></p>
            </div>
          </div>
          <% if @user == current_user %>
            <div class="col-1 mt-1 mt-sm-2 mb-auto ms-n4 ms-sm-n1">
              <div class="dropdown">
                <a class="cursor-pointer" data-bs-toggle="dropdown">
                  <i class="material-icons p-2 text-secondary link-area rounded-circle">more_horiz</i>
                </a>
                <ul class="border dropdown-menu dropdown-menu-end mt-4 me-n3 me-sm-0"></li>
                  <li>
                    <%= link_to :users_edit_profile, class: "dropdown-item d-flex align-items-center" do %>
                      <i class="material-symbols-outlined pe-1 fs-6">article</i>
                      <p class="text-sm">プロフィール編集</p>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
        <%= simple_format(@user.introduction, sanitize: true, class: "px-1 text-sm text-dark") %>
      </div>
    </div>
    <div class="mx-auto max-width-900">
      <p class="text-center fs-px-15 fw-bold text-dark">投稿</p>
      <div class="row">
        <% if @posts.present? %>
          <%= render partial: "posts/post", collection: @posts %>
        <% else %>
          <p class="my-4 text-center text-sm">投稿はまだありません</p>
        <% end %>
      </div>
    </div>
  </div>
</main>
