<%= render 'layouts/sidenav_itinerary' %>
<main class="main-content position-relative">
  <div class="container-fluid py-4 px-sm-6 px-1 min-vh-100">
    <% if @date_time_sorted_schedules.blank? %>
      <p class="p-4 text-center text-sm text-dark">スケジュールは登録されていません</p>
    <% else %>
      <div class="row max-width-600 w-md-80 w-ms-90 mx-auto">
        <% @date_time_sorted_schedules.each do |date, schedules| %>
          <div class="card mb-3 pt-3 px-3 text-dark">
            <p class="d-none d-sm-block mb-2 fw-bold"><%= date ? (l date) : "その他の予定" %></p>
            <h6 class="d-sm-none"><%= date ? (l date) : "その他の予定" %></h6>
            <% schedules.each_with_index do |schedule, i| %>
              <div class="border-top">
                <div class="row px-3 px-sm-0 align-items-center schedule-item">
                  <div class="col-1 col-sm-2 px-0 text-center">
                    <div class="lh-1 ms-md-n3">
                      <% if schedule.start_at || schedule.end_at %>

                        <p class="d-inline-block fw-bold text-sm lh-1"><%= (l schedule.start_at) if schedule.start_at %><br><span class="text-xs"><%= "-#{(l schedule.end_at)}" if schedule.end_at%></span></p>
                      <% else %>
                        <p class="d-none d-sm-block fw-bold lh-1">--:--</p>
                        <p class="d-sm-none d-inline-block fw-bold text-sm lh-1">--:--</p>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-11 col-sm-10">
                    <div class="row">
                      <div class="col-1">
                        <% if schedule.icon.present? %>
                          <i class="material-icons d-inline-block ms-sm-n3 ms-2 rounded-circle schedule-icon" style="vertical-align: -7px;"><%= schedule.icon %></i>
                        <% end %>
                      </div>
                      <div class="col-10 d-flex pe-0 align-items-center">
                        <p class="d-none d-sm-block text-sm ms-n3 text-ellipsis"><%= schedule.title %></p>
                        <p class="d-sm-none ms-3 text-sm text-ellipsis"><%= schedule.title %></p>
                      </div>
                      <div class="col-1 px-0">
                        <div class="dropdown">
                          <label for="schedule_dropdown_<%= schedule.schedule_date ? (schedule.schedule_date.to_s + i.to_s) : i %>" class="cursor-pointer m-0">
                            <i class="material-icons d-none d-sm-block p-2 text-secondary link-area rounded-circle">more_vert</i>
                            <i class="material-icons d-sm-none ms-lg-0 p-2 text-secondary link-area rounded-circle">more_vert</i>
                          </label>
                          <button class="d-none" id="schedule_dropdown_<%= schedule.schedule_date ? (schedule.schedule_date.to_s + i.to_s) : i %>" data-bs-toggle="dropdown" aria-expanded="false"></button>
                          <ul class="border dropdown-menu dropdown-menu-end mt-4" aria-labelledby="schedule_dropdown_<%= schedule.schedule_date ? (schedule.schedule_date.to_s + i.to_s) : i %>"></li>
                            <li>
                              <%= link_to [:itinerary_schedule, id: schedule.id], class: "dropdown-item", data: { turbo_frame: "modal" } do %>
                                <span class="material-symbols-outlined pe-1 fs-6" style="vertical-align: -3.5px;">article</span>情報を見る
                              <% end %>
                            </li>
                            <li class="align-items-center">
                              <%= link_to [:edit_itinerary_schedule, itinerary_id: schedule.itinerary.id, id: schedule.id], class: "dropdown-item", data: { turbo_frame: "modal" } do %>
                                <span class="material-symbols-outlined pe-1 fs-6" style="vertical-align: -3.5px;">edit</span>編集
                              <% end %>
                            </li>
                            <li>
                              <%= link_to [:itinerary_schedule, itinerary_id: schedule.itinerary.id, id: schedule.id], class: "dropdown-item text-danger", data: { turbo_method: :delete, turbo_confirm: 'このスケジュールを削除しますか？この操作は取り消せません。' } do %>
                                <span class="material-symbols-outlined pe-1 fs-6" style="vertical-align: -3.5px;">delete</span>削除
                              <% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="fixed-plugin">
    <div class="fixed-plugin-button position-fixed rounded-pill px-3 py-2 btn bg-gradient-primary">
      <%= link_to :new_itinerary_schedule, data: { turbo_frame: "modal" } do %>
        <p class="py-1 text-white fw-bold"><i class="material-icons" style="vertical-align: -3.5px;">add_circle</i> スケジュール作成</p>
      <% end %>
    </div>
  </div>
</main>
