<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-sm-5 px-sm-6 py-4 px-3 vh-100">
    <div class="w-md-70 mx-auto mb-4 ">
      <div class="card rounded-pill place-search">
        <%= form_with url: [:search_place_itinerary, id: @itinerary.id], html: { data: { turbo_frame: "place", controller: "search-form", action: "input->search-form#submit" } }, method: :get do |f| %>
          <div class="px-4 py-1 d-flex">
            <span class="me-3 d-table"><i class="fas fa-search fa-lg text-accent d-table-cell align-middle"></i></span>
            <%= f.search_field :query, class: 'form-control', placeholder: 'スポットを探す' %>
          </div>
        <% end %>
      </div>
      <div class="card position-absolute z-index-3 mt-1 me-3 py-2 d-none place-list">
        <%= turbo_frame_tag "place" %>
      </div>
    </div>
    <% if @sorted_schedules.blank? %>
      <div class="text-center p-6">
        スケジュールは登録されていません
      </div>
    <% else %>
      <div class="w-md-70 mx-auto">
        <% @sorted_schedules.each do |date, schedules| %>
          <div class="card mb-4 pt-3 text-dark">
            <h5 class="ms-4"><%= date ? (l date) : "その他の予定" %></h5>
            <% schedules.each do |schedule| %>
              <%= link_to [:itinerary_schedule, id: schedule.id] do %>
                <div class="border-top mx-0 link-area">
                  <div class="py-3 row mx-0">
                    <div class="col-3 col-sm-2 text-center text-primary fw-bold d-table">
                      <div class="d-table-cell align-middle text-lg lh-1">
                        <% if schedule.start_at || schedule.end_at %>
                          <%= (l schedule.start_at) if schedule.start_at %><br><span class="text-sm"><%= "- #{(l schedule.end_at)}" if schedule.end_at%></span>
                        <% else %>
                          <i class="material-icons text-sm pe-1" style="vertical-align: -1px;">schedule</i>未定
                        <% end %>
                      </div>
                    </div>
                    <div class="col-9 col-sm-8 ps-0 d-table">
                      <div class="d-table-cell align-middle pe-2">
                        <% if schedule.icon %>
                          <i class="material-icons px-1" style="vertical-align: -4px;"><%= schedule.icon %></i>
                        <% end %>
                        <%= schedule.title %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="fixed-plugin">
    <div class="fixed-plugin-button position-fixed rounded-pill px-3 py-2">
      <%= turbo_frame_tag "itinerary" do %>
        <%= link_to :new_itinerary_schedule, data: { turbo_frame: "modal" } do %>
          <p class="mb-0 py-1"><i class="material-icons" style="vertical-align: -4.5px;">add_circle</i> スケジュール作成</p>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
