<%= render 'layouts/sidenav' %>
<main class="main-content position-relative">
  <div class="container-fluid py-sm-5 px-sm-6 py-4 px-3">
    <div class="w-md-70 mx-auto">
      <div class="card mb-4 p-4 text-dark">
        <div class="border-bottom">
          <h4>スケジュール作成</h4>
        </div>
        <%= form_with model: @schedule, url: itinerary_schedules_path do |f| %>
          <div class="input-group input-group-outline row mx-0 mb-3">
            <%= f.label "日付", class: "fw-bold px-0 mb-1" %>
            <%= f.date_field :schedule_date, class: "form-control fa fw-normal", id: "schedule-date", readonly:"", placeholder: " \uf073 日付を選択" %>
            <div class="d-none" id="departure-date"><%= @itinerary.departure_date %></div>
            <div class="d-none" id="return-date"><%= @itinerary.return_date %></div>
          </div>
          <div class="input-group input-group-outline row mx-0 mb-4">
            <%= f.label :title, class: "fw-bold px-0 mb-1" do %>タイトル<span class="required">*</span><% end%>
            <%= f.text_field :title, class: "form-control", placeholder: "旅のタイトルを入力" %>
            <div class="<%= "error-message" if @schedule.errors.messages.key?(:title) %>" >
              <%= @schedule.errors.full_messages_for(:title).first if @schedule.errors.any? %>
            </div>
          </div>
          <div class="input-group input-group-outline row mx-0 mb-4">
            <%= f.label "時間", class: "fw-bold px-0 mb-1" %>
            <%= f.time_field :start_at, class: "form-control fa fw-normal schedule-time", readonly:"", placeholder: " \uf017 開始時間" %>
            <%= f.time_field :end_at, class: "form-control fa fw-normal schedule-time", readonly:"", placeholder: " \uf017 終了時間" %>
          </div>

          <div class="mb-4">
            <%= f.label "アイコン", class: "fw-bold px-0 mb-1 d-block" %>
            <label type="button" class="text-primary">
              <i class="material-icons opacity-10">restaurant</i>
              <%= f.radio_button :icon, :restaurant, class: "d-none" %>
            </label>
            <label type="button" class="text-primary">
              <i class="material-icons opacity-10">local_cafe</i>
              <%= f.radio_button :icon, :local_cafe, class: "d-none" %>
            </label>
            <label type="button" class="text-primary">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">hotel</i>
              <%= f.radio_button :icon, :hotel, class: "d-none" %>
            </label>
            <label type="button" class="text-primary">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">train</i>
              <%= f.radio_button :icon, :train, class: "d-none" %>
            </label>
            <label type="button" class="text-primary">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">directions_car</i>
              <%= f.radio_button :icon, :directions_car, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">directions_bus</i>
              <%= f.radio_button :icon, :directions_bus, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">flight</i>
              <%= f.radio_button :icon, :flight, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">directions_walk</i>
              <%= f.radio_button :icon, :directions_walk, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">directions_bike</i>
              <%= f.radio_button :icon, :directions_bike, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">attractions</i>
              <%= f.radio_button :icon, :attractions, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">shopping_cart</i>
              <%= f.radio_button :icon, :shopping_cart, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">landscape</i>
              <%= f.radio_button :icon, :landscape, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">castle</i>
              <%= f.radio_button :icon, :castle, class: "d-none" %>
            </label>
            <label type="button" class="text-primary text-sm">
              <i class="material-icons opacity-10" style="vertical-align: -4px;">local_activity</i>
              <%= f.radio_button :icon, :local_activity, class: "d-none" %>
            </label>
          </div>

          <div class="input-group input-group-outline row mx-0 mb-3">
            <%= f.label "スポット情報", class: "fw-bold px-0 mb-1" %>

            <%= @schedule.place_name %>
            <%= @schedule.address %>
            <%= image_tag @schedule.image.url, id: 'image_preview', class: "border-radius-lg schedule-image-preview" %>
          </div>

          <div class="modal-footer justify-content-between">
            <button type="button" class="btn bg-gradient-light mb-0" data-bs-dismiss="modal">キャンセル</button>
            <%= f.submit "保存する", class: "btn bg-gradient-primary mb-0" %>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</main>


