<%= render "layouts/modal", title: "スケジュール詳細" do %>
  <div class="mb-4">
    <div class="row mb-1 mx-0 text-dark">
      <p class="col-11 d-inline ps-0 text-lg fw-bold"><%= @schedule.title %></p>
      <% if @schedule.icon.present? %>
        <div class="col-1 ps-0 ps-sm-2">
          <i class="material-icons d-inline-block rounded-circle schedule-icon"><%= @schedule.icon %></i>
        </div>
      <% end %>
    </div>
    <p class="text-dark text-sm">
      <%= @schedule.schedule_date ? (l @schedule.schedule_date) : "日付未定" %>&ensp;
      <span class="material-symbols-outlined fs-6 fw-light" style="vertical-align: -3px;">schedule</span>
      <%= @schedule.start_at ? (l @schedule.start_at) : "未定" %> - <%= @schedule.end_at ? (l @schedule.end_at) : "未定" %>
    </p>
  </div>
  <div class="mb-4">
    <p class="text-sm fw-bold text-dark" >スポット情報</p>
    <% if @schedule.place_id.present? %>
      <% if @error %>
        <p class="text-sm text-danger"><span class="material-symbols-outlined fs-6 pe-1" style="vertical-align: -2.8px;">error</span><%= @error %></p>
      <% else %>
        <div class="border mt-2">
          <div class="d-flex" >
            <%= image_tag @place_photo_urls ? @place_photo_urls[0] : "default_place_thumbnail.png", class: "modal-small-place-image", id: "place_photo" %>
            <div class="p-2 position-relative w-100">
              <p class="text-sm text-dark"><%= @place_details[:name] %></p>
              <p class="text-xs text-secondary"><%= @place_details[:address] %></p>
            </div>
          </div>
          <div class="px-1">
            <iframe
              src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_API_KEY'] %>&zoom=15&q=place_id:<%= @place_id %>"
              id="map_frame" loading="lazy" frameborder="0" style="border:0"
              referrerpolicy="no-referrer-when-downgrade" >
            </iframe>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-sm text-secondary">登録されていません</p>
    <% end %>
  </div>
  <div class="mb-4">
    <p class="text-sm fw-bold text-dark" >メモ</p>
    <% if @schedule.note.present? %>
      <p class="text-sm text-dark"><%= @schedule.note %></p>
    <% else %>
      <p class="text-sm text-secondary">登録されていません</p>
    <% end %>
  </div>
<% end %>
