<%= render "layouts/modal", title: "スケジュール詳細" do %>
  <div >
    <p class="text-dark text-ellipsis">
      <% if @schedule.icon %>
        <i class="material-icons"><%= @schedule.icon %></i>
      <% end %>
      <%= @schedule.title %>
    </p>
    <p class="mb-0"><%= @schedule.schedule_date ? (l @schedule.schedule_date) : "日付未定" %></p>
    <p><%= @schedule.start_at ? (l @schedule.start_at) : "未定" %> - <%= @schedule.end_at ? (l @schedule.end_at) : "未定" %></p>
  </div>
  <div class="mb-4">
    <label class="fw-bold" >スポット情報</label>
    <% if @schedule.place_id%>
      <div class="border mt-2" id="place_info_card">
        <div class="d-flex" >
          <img src="" class= "pe-1" id="place_photo">
          <div class="p-2 pe-4 position-relative w-100">
            <p class="mb-1 text-sm text-dark fw-bold" id="place_name"></p>
            <p class="mb-0 text-xs text-secondary" id="place_address"></p>
            <label class="m-0 position-absolute end-1 top-1"><i class="material-icons">close</i>
            <button type="button" class="d-none border-0 bg-transparent text-xs" id="reset_place_btn"></button></label>
          </div>
        </div>
      </div>
    <% else %>
      <div class="border mt-2" id="place_info_empty">
        <p class="mb-0 text-sm text-center text-secondary py-4">未登録</p>
      </div>
    <% end %>
  </div>
<% end %>
