
<% provide :title, "ログイン" %>
<% if @invited_itinerary %>
  <% provide :itinerary_title, @invited_itinerary.title %>
  <% provide :itinerary_date, "#{l @invited_itinerary.departure_date} 〜 #{l @invited_itinerary.return_date}" %>
  <% provide :itinerary_image, @invited_itinerary.image.url %>
<% end %>
<% provide :title, "アカウント登録" %>
<main class="main-content mt-0 bg-pearl-white">
  <div class="page-header align-items-start min-vh-100" style="background-image: url(<%= asset_path 'sign_up.jpg' %>);">
    <span class="mask bg-white opacity-8"></span>
    <div class="container mt-7 mb-8">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom border-radius-lg">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-4 pe-1">
                <h4 class="text-white font-weight-bolder text-center py-3 mb-0">登録・ログイン</h4>
              </div>
            </div>
            <div class="card-body shadow">
            <p class="mt-1 ps-1 text-sm text-dark fw-bold">招待されている旅のプラン：</p>
            <div class="border mt-1">
              <div class="d-flex" >
                <div>
                  <%= image_tag @invited_itinerary.image.url, class: "modal-small-place-image", alt: "#{@invited_itinerary.title}の画像" %>
                </div>
                <div class="p-2 position-relative w-100">
                  <p class="text-sm text-dark fw-bold"><%= @invited_itinerary.title %></p>
                  <p class="text-xs text-dark"><%= "#{l @invited_itinerary.departure_date} 〜 #{l @invited_itinerary.return_date}" %></p>
                </div>
              </div>
            </div>
              <div class="mt-4 mb-4 ms-auto">
                <%= link_to line_login_login_path(invitation_code: @invitation_code), class: "mt-0 mb-2 btn btn-lg btn-outline-line line-login-btn w-100 d-flex align-items-center" do %>
                  <%= image_tag "LINE_icon.png" %>
                  <div class="text-center flex-fill lh-1">LINEで続ける</div>
                <% end %>
              </div>
              <p class="my-2 text-xs text-dark">※本サービスにアカウント未登録の方で、LINEアカウントにメールアドレスのご登録が無い場合、LINEでのログインはご利用いただけません。下記よりメールアドレスでのご登録をお願いいたします。</p>
              <div class="d-flex align-items-center pt-2">
                <hr class="w-100" color="#7b809a">
                <p class="text-center text-dark text-md fw-bold w-100 text-nowrap px-3">メールアドレスで登録</p>
                <hr class="w-100" color="#7b809a">
              </div>
              <p class="mt-2 mb-3 text-xs text-dark">※入力は全て必須です。</p>
              <%= form_with model: @user, url: user_registration_path, data: { controller: "form-reset", action: "turbo:submit-end->form-reset#clear" } do |f| %>
                <%= f.hidden_field :invitation_code, value: @invitation_code %>
                <div class="input-group input-group-outline mb-3 <%= "is-filled" if @user[:name].present? %>" >
                  <%= f.label "ニックネーム（20文字以内で入力）", class: "form-label" %>
                  <%= f.text_field :name, class: "form-control w-100", autocomplete: "name" %>
                  <div class="px-0 error-message" id="name_error"></div>
                </div>
                <div class="input-group input-group-outline mb-3 <%= "is-filled" if @user[:email].present? %>">
                  <%= f.label "メールアドレス", class: "form-label" %>
                  <%= f.email_field :email, class: "form-control w-100", autocomplete: "email" %>
                  <div class="px-0 error-message" id="email_error"></div>
                </div>
                <div class="input-group input-group-outline mb-3">
                  <%= f.label "パスワード（半角英数字6文字以上）", class: "form-label" %>
                  <%= f.password_field :password, class: "form-control w-100", autocomplete: "new-password", data: { form_reset_target: "input" } %>
                  <div class="px-0 error-message" id="password_error"></div>
                </div>
                <div class="input-group input-group-outline mb-4">
                  <%= f.label "パスワード（確認用）", class: "form-label" %>
                  <%= f.password_field :password_confirmation, class: "form-control w-100", autocomplete: "new-password", data: { form_reset_target: "input" } %>
                  <div class="px-0 error-message" id="password_confirmation_error"></div>
                </div>
                <div class="text-center pt-2">
                  <%= f.submit "アカウント登録", class: "btn bg-gradient-primary w-100 text-sm" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
