<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible text-white" role="alert">
    <%= alert %>
    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<main class="main-content  mt-0">
  <div class="page-header align-items-start max-vh-100" style="background-image: url(<%= asset_path 'sign_in.jpg' %>);">
    <span class="mask bg-gradient-light opacity-6"></span>
    <div class="container my-8">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">ログイン</h4>
                <div class="mt-3 text-center ms-auto">
                  <%= link_to "ゲストログイン", :new_user_registration, class: "font-weight-bold" %>
                </div>
              </div>
            </div>
            <div class="card-body">
              <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name), local: true, data: { turbo: false })  do |f| %>
                <div class="input-group input-group-outline my-3 <%= "is-filled" unless resource[:email].blank? %>">
                  <%= f.label :email, "メールアドレス", class: "form-label" %>
                  <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
                </div>
                <div class="input-group input-group-outline my-3">
                  <%= f.label :password, "パスワード", class: "form-label" %>
                  <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
                </div>
                <div class="text-center">
                  <%= f.submit "ログイン", class: "btn bg-gradient-primary w-100 my-4 mb-2" %>
                </div>
              <% end %>
              <p class="mt-4 text-sm text-center">
                アカウントをお持ちでない方は
                <%= link_to "新規登録", :new_user_registration, data: { turbo: false }, class: "text-primary text-gradient font-weight-bold" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
