<%= turbo_stream.update "itinerary_error" do %>
  <%= @post.errors.full_messages_for(:itinerary).first if @post.errors.any? %>
<% end %>
<%= turbo_stream.update "photos_error" do %>
  <%= @post.errors.full_messages_for(:photos).first if @post.errors.any? %>
<% end %>
<%= turbo_stream.update "title_error" do %>
  <%= @post.errors.full_messages_for(:title).first if @post.errors.any? %>
<% end %>
<%= turbo_stream.update "error_notice" do %>
  <% if @post.errors.any? %>
    <p class="error-message">入力内容に誤りがあります。赤字箇所をご確認ください。</p>
  <% end %>
<% end %>
