<%= form_with model: post, data: { action: "turbo:submit-end->modal#close", turbo_frame: "_top" } do |f| %>
  <div class="input-group input-group-outline row mx-0 mb-3">
    <label class="m-0 px-0 fw-bold">思い出を投稿する旅のプラン<span class="required">必須</span></label>
    <label class="select-box px-0">
      <%= f.select :itinerary_id, @current_users_itineraries, { include_blank: "旅のプランを選択" }, class: "form-control cursor-pointer" %>
    </label>
    <div class="px-0" id="itinerary_error"></div>
  </div>
  <div class="mb-4">
    <%= f.label "旅のスケジュールを公開",  class: "m-0 px-0 fw-bold" %>
    <%= f.check_box :itinerary_public, class: "ms-2 post-checkbox", checked: true, checked_value: true, unchecked_value: false %>
    <p class="mb-2 text-dark text-xs">チェックを入れると投稿の詳細画面で旅のスケジュールが公開されます。</p>
  </div>
  <div class="mb-4" data-controller="photos" >
    <label class="m-0 px-0 fw-bold d-block">写真（最大20枚）<span class="required">1枚以上必須</span></label>
    <div data-photos-target="form">
      <%= f.fields_for :photos do |photo| %>
        <label for="photo_field_<%= photo.index %>" class="btn btn-sm btn-outline-primary my-1 mx-0 label-for-photo">
          <i class="material-icons opacity-10 me-2 text-sm" style="vertical-align: -2px;">add_a_photo</i>画像を選択
          <%= photo.file_field :url, accept: "image/*", id: "photo_field_#{photo.index}" , class: "d-none", data: { photos_target: "field", action: "change->photos#selectPhotos" } %>
        </label>
      <% end %>
    </div>
    <div class="row mx-0 px-0" data-photos-target="preview">
      <% if post.has_photos? %>
        <% post.photos.each_with_index do |photo, i| %>
          <div class="col-3 p-1 position-relative" data-photos-target="imageBox">
            <%= image_tag (photo.url.to_s if photo.url), class: "post-photo-preview" %>
            <a class="position-absolute top-5 end-5 link cursor-pointer" id="delete_btn_<%= i %>" data-action="click->photos#deletePhoto">
              <i class="material-icons text-white bg-dark rounded-circle">close</i>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="px-0" id="photos_error"></div>
  </div>
  <div class="input-group input-group-outline row mx-0 mb-4">
    <%= f.label :title, class: "m-0 px-0 fw-bold" do %>
      タイトル（30文字以内）<span class="required">必須</span>
    <% end %>
    <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力" %>
    <div class="px-0" id="title_error"></div>
  </div>
  <div class="input-group input-group-outline row mx-0 mb-3">
    <%= f.label "キャプション（1000文字以内）", class: "m-0 px-0 fw-bold" %>
    <%= f.text_area :caption, id: "text_input", class: "form-control", rows: "7", placeholder: "キャプションを入力" %>
    <div class="d-flex justify-content-between px-0">
      <div></div>
      <div id="char_count" class="text-xs"><span>0</span>/1000</div>
    </div>
  </div>
  <div class="modal-footer justify-content-between mt-4">
    <button type="button" class="btn bg-gradient-light mb-0" data-bs-dismiss="modal">キャンセル</button>
    <%= f.submit "投稿する", class: "btn bg-gradient-primary mb-0", id: "submit_btn" %>
  </div>
  <div id="error_notice"></div>
<% end %>
