<div class="container-fluid py-4 px-sm-4 min-vh-100">
  <%= render 'search_form' %>
  <div class="mx-auto max-width-900">
    <% if @posts.blank? %>
      <p class="p-4 text-center text-sm text-dark">「<%= @keyword %>」に一致する投稿は見つかりませんでした</p>
    <% else %>
      <%= turbo_frame_tag "posts-page-#{@posts.current_page}" do %>
        <div class="row">
          <%= render @posts %>
          <%= turbo_frame_tag "posts-page-#{@posts.next_page}", src: path_to_next_page(@posts), loading: :lazy %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="fixed-plugin">
  <div class="fixed-plugin-button position-fixed rounded-pill px-3 py-2 btn bg-gradient-primary">
    <%= link_to :new_post, class: "d-flex align-items-center text-white", data: ({ turbo_frame: "modal" } if user_signed_in?) do %>
      <i class="material-symbols-outlined ms-0 me-1 fs-3">add_circle</i>
      <p class="py-1 text-sm fw-bold">旅の思い出を投稿</p>
    <% end %>
  </div>
</div>


