<h5 class="page-heading">みんなの思い出</h5>
<div class="container-fluid mt-3 px-sm-4 min-vh-100">
  <div class="mx-auto max-width-900">
    <%= render 'search_form' %>
    <% if @posts.blank? %>
      <p class="p-4 text-center text-sm text-dark">「<%= @keyword %>」に一致する投稿は見つかりませんでした</p>
    <% else %>
      <%= turbo_frame_tag "posts-page-#{@posts.current_page}" do %>
        <div class="row">
          <%= render @posts %>
          <%= turbo_frame_tag "posts-page-#{@posts.next_page}", src: path_to_next_page(@posts), loading: :lazy %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: 'layouts/fixed_button', locals: { path: :new_post, link_text: "旅の思い出を投稿" } %>


