<div class="row mx-0 p-3 bg-white border-bottom">
  <div class="col-1 ps-0">
    <%= render 'likes/form' %>
  </div>
  <div class="col ps-4 d-flex align-items-center">
    <i class="material-icons me-1" style="padding-top:2px;">chat_bubble_outline</i><span id="comments_count" class="text-sm"><%= @post.comments_count %></span>
  </div>
</div>
<% if current_user %>
  <%= render 'comments/new' %>
  <%= render 'comments/index' %>
<% else %>
  <div class="d-flex align-items-center p-3 bg-white border-bottom">
    <div class="input-group input-group-outline d-flex align-items-center" data-controller="post-comments">
      <textarea class="form-control" rows="1", placeholder="コメントを入力…" disabled="true"></textarea>
      <%= button_tag type: "submit", class: "d-flex border-0 bg-transparent text-secondary ms-2 px-0", disabled: true do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
  </div>
  <div class="bg-white mb-3 p-4 text-center">
    <h6 class="mb-0">他のユーザーとの交流を楽しみましょう。</h6>
    <p class="text-sm text-dark">ログインすると、投稿に「いいね♡」やコメントができます。</p>
    <div class="d-flex mt-4 justify-content-center">
      <%= link_to "アカウント登録", :new_user_registration, data: { turbo: false }, class: "btn btn-outline-primary mx-2" %>
      <%= link_to "ログイン", :new_user_session, data: { turbo: false }, class: "btn bg-gradient-primary mx-2" %>
    </div>
  </div>
<% end %>
