<%= turbo_frame_tag post, class:"col-12 col-sm-6 col-md-4 my-2 mx-auto mx-sm-0 px-0 px-sm-2 max-width-400" do %>
  <div class="m-lg-1 bg-white">
    <% if request.fullpath.exclude?('/users/') %>
      <div class="pt-1 px-2">
        <div class="d-flex align-items-center">
          <%= image_tag post.user.avatar.url, class: "rounded-circle avatar-thumbnail p-1 me-1" %>
          <%= link_to post.user.name, user_path(id: post.user.id), class: "text-dark text-sm hover-opacity", data: { turbo: false } %>
        </div>
      </div>
    <% end %>
    <%= link_to post_path(id: post.id), class:"hover-opacity", data: { turbo: false } do %>
      <%= image_tag post.photos[0].url.to_s, class: "pt-1 px-2 w-100" %>
      <div class="p-2">
        <p class="px-1 fs-px-15 fw-bold text-dark text-ellipsis lh-sm"><%= post.title %><br>
          <span class="text-xs fw-normal text-secondary lh-base"><%= l post.created_at, format: :date_posted %></span>
        </p>
      </div>
    <% end %>
    <div class="d-flex align-items-center bg-transparent text-sm px-2 pb-2 lh-1">
      <i class="material-icons me-1 fs-px-15">thumb_up</i>
      <span><%= post.likes_count if post.likes_count != 0 %></span>
    </div>
  </div>
<% end %>
