<div class="mb-2 z-index-3" style="top: 63px;">
  <div class="mx-auto ms-md-auto max-width-400">
    <div class="dropdown">
      <%= form_with url: search_posts_path, class: "search-form-icon-right", method: :get do |f| %>
        <%= f.text_field :keyword, value: @keyword, "data-bs-toggle": "dropdown", "data-bs-auto-close": "outside", placeholder: "投稿を検索", autocomplete: 'off' %>
        <ul class="dropdown-menu dropdown-menu-start p-2 border-radius-md border">
          <li class="border-0 fs-px-3 text-dark fw-bold pb-1 ps-1">人気の行き先</li>
          <li class="border-0 px-2 pb-1">
            <%= simple_format(link_to_hashtag("#沖縄"), class: "text-sm") %>
          </li>
          <li class="border-0 px-2 pb-1">
            <%= simple_format(link_to_hashtag("#北海道"), class: "text-sm") %>
          </li>
          <li class="border-0 px-2 pb-1">
            <%= simple_format(link_to_hashtag("#東京"), class: "text-sm") %>
          </li>
          <li class="border-0 px-2 pb-1">
            <%= simple_format(link_to_hashtag("#オーストラリア"), class: "text-sm") %>
          </li>
          <li class="border-0 px-2">
            <%= simple_format(link_to_hashtag("#東南アジア"), class: "text-sm") %>
          </li>
        </ul>
        <%= f.button "" %>
      <% end %>
    </div>
  </div>
</div>

