<main class="main-content position-relative">
  <div class="container-fluid py-4 py-sm-5 px-sm-4 min-vh-100">
    <div class="mx-auto max-width-1000">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-lg-4 col-sm-6 my-3 px-1 px-sm-3">
            <%= link_to post_path(id: post.id), data: { turbo: false } do %>
              <div class="bg-white border-radius-lg overflow-hidden">
                <%= image_tag post.photos[0].url.to_s, class: "w-100" %>
                <div class="p-3">
                  <p class="fw-bold lh-base text-dark mb-2"><%= post.title %></p>
                  <div class="d-flex">
                    <%= image_tag post.user.avatar.url, class: "rounded-circle avatar-thumbnail me-2" %>
                    <div class="d-table">
                      <p class="lh-1 text-dark text-sm d-table-cell align-middle"><%= post.user.name %><br>
                        <span class="text-xs text-secondary"><%= date_posted(post) %></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="fixed-plugin-button position-fixed rounded-pill px-3 py-2 btn bg-gradient-primary">
      <%= link_to :new_post, data: { turbo_frame: "modal" } do %>
        <p class="py-1 text-white fw-bold"><i class="material-icons" style="vertical-align: -3.5px;">add_circle</i> 旅の思い出を投稿</p>
      <% end %>
    </div>
  </div>
</main>
