<main class="main-content position-relative">
  <div class="container-fluid py-4 py-sm-5 px-sm-6 min-vh-100">
    <div class="w-md-80 mx-auto">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <%= image_tag @post.photos[0].url.to_s, class: "w-100" %>
        </div>
        <div class="col-lg-6 col-sm-6 px-0 px-sm-3">
          <div class="p-3 bg-white">
            <h5 class="mb-2 lh-base fw-bold text-dark"><%= @post.title %></h5>
            <div class="d-flex pb-3">
              <%= image_tag @post.user.avatar.url, class: "rounded-circle avatar-thumbnail me-2" %>
              <div class="d-table">
                <p class="text-dark text-sm fw-bold d-table-cell align-middle"><%= @post.user.name %></p>
              </div>
            </div>
            <div class="pt-3 border-top">
              <p class="pb-3 fs-15 text-dark"><%= @post.caption %></p>
              <p class="text-sm"><%= posted_date(@post) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
