  <%= turbo_frame_tag "destination" do %>
    <%= form_with model: [@itinerary, @destination], data: { controller: "destination", destination_target: "form" } do |f| %>
      <div class="input-group input-group-outline row mx-0 mb-3">
        <label class="m-0 mb-1 px-0 fw-bold">スポットを追加する旅のプラン</label>
        <label class="select-box px-0">
          <%= select_tag "itineraries", options_from_collection_for_select(@itineraries, :id, :title), include_blank: "旅のプランを選択", class: "form-control cursor-pointer", data: { destination_target: "select", action: "change->destination#setItinerary" } %>
        </label>
      </div>
      <%= f.hidden_field :place_id, value: @destination.place_id %>
      <% if @destination.errors.any? %>
        <p class="error-message"><%= @destination.errors.full_messages_for(:place_id).first %></p>
        <p class="error-message"><%= @destination.errors.full_messages_for(:itinerary_id).first %></p>
        <%= f.submit "スポットリストに追加", class: "btn bg-gradient-primary d-block mt-3 mx-auto", data: { destination_target: "submit" } %>
      <% elsif destinations_include?(@itinerary, @destination.place_id) %>
        <p class="text-center text-sm text-dark">選択したプランのスポットリストに追加しました</p>
        <%= link_to [:itinerary, id: @itinerary.id], data: { turbo_frame: "_top" } do %>
          <p class="mb-2 py-1 text-center text-sm text-primary fw-bold">旅のプランを確認<i class="material-icons fs-4" style="vertical-align: -6.5px;">navigate_next</i></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
