<%= render 'layouts/sidenav_itinerary' %>
<main class="main-content position-relative">
  <div class="container-fluid py-4 px-1 min-vh-100">
    <div class="row max-width-850 mx-auto">
      <% if @itinerary.destinations.blank? %>
        <p class="text-center text-dark">行きたい場所は登録されていません</p>
      <% else %>
        <% @place_details_list.each do |place| %>
          <div class="col-sm-6 mb-3 mx-auto mx-sm-0 px-0 max-width-400 cursor-pointer">
            <div class="card p-3 mx-sm-2 position-relative">
              <div class="row">
                <div class="col-4 ps-3 pe-0">
                  <%= image_tag place[:photo_url], class: "square-image border-radius-lg w-100" %>
                </div>
                <div class="col-8 px-3">
                  <% if place[:error] %>
                    <p class="error-message"><%= place[:error] %></p>
                  <% else %>
                    <div class="h-50">
                      <p class="pe-4 text-sm text-dark fw-bold lh-sm"><%= place[:name] %></p>
                      <p class="mb-3 text-xs text-dark pt-1">クチコミ評価<i class="material-icons rating-icon ps-1">star</i><%= place[:rating] %></p>
                    </div>
                    <%= link_to [:itinerary_destination, id: place[:destination_id]], data: { turbo_method: :delete, turbo_confirm: 'このスポットを行きたい場所から削除しますか？', turbo_frame: "_top" },
                      class: "position-absolute top-8 end-2 text-secondary" do %>
                      <i class="material-icons rounded-circle p-1 link-area">close</i>
                    <% end %>
                    <div class="d-flex justify-content-between">
                      <%= link_to "スポット詳細", [:itinerary_destination, id: place[:destination_id]], data: { turbo_frame: "modal" }, class: "btn btn-sm btn-outline-primary mb-0 p-2 px-3" %>
                      <%= link_to "スケジュール作成", new_itinerary_schedule_path(destination_id: place[:destination_id]), data: { turbo_frame: "modal" }, class: "btn btn-sm btn-primary mb-0 p-2" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
