<%= render "layouts/modal", title: "スポット情報" do %>
  <% if @error %>
    <p class="text-sm text-danger"><span class="material-symbols-outlined fs-6 pe-1" style="vertical-align: -2.8px;">error</span><%= @error %></p>
  <% else %>
    <%= render 'shared/place_photo_carousel' %>
    <%= render "shared/place_details", place_details: @place_details %>
    <%= form_with model: [@itinerary, @destination], data: { action: "turbo:submit-end->modal#close", turbo_frame: "_top" } do |f| %>
      <%= f.hidden_field :place_id, value: @place_id %>
      <% if destinations_include?(@itinerary, @place_id) %>
        <%= f.submit "作成中のプランのスポットリストに追加済み", class: "btn btn-outline-primary mt-3 w-100", disabled: true %>
      <% elsif @itinerary.destinations.count >= 300 %>
        <%= f.submit "作成中のプランのスポットリストに追加", class: "btn bg-gradient-primary mt-3 mb-0 w-100", disabled: true %>
        <p class="d-inline-block mx-auto mt-1 text-xs text-dark">スポットリスト登録数が上限に達しています。</p>
      <% else %>
        <%= f.submit "作成中のプランのスポットリストに追加", class: "btn bg-gradient-primary mt-3 w-100" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
