<%= turbo_frame_tag place_index_item do %>
  <div class="card mb-3 mx-auto p-3 position-relative max-width-600">
    <div class="row">
      <div class="col-4 col-sm-3 ps-3 pe-1">
        <%= link_to @placeable.user? ? [:users_place, id: place_index_item.id] : [:itinerary_place, itinerary_id: @placeable.id, id: place_index_item.id], data: { turbo_frame: "modal" } do %>
          <%= image_tag place_index_item.photo_url, class: "square-image w-90" %>
        <% end %>
      </div>
      <div class="col-8 col-sm-9 py-1 ps-0">
        <% if place_index_item.error %>
          <p class="pe-3 error-message"><%= place_index_item.error %></p>
        <% else %>
          <%= link_to @placeable.user? ? [:users_place, id: place_index_item.id] : [:itinerary_place, itinerary_id: @placeable.id, id: place_index_item.id], data: { turbo_frame: "modal" } do %>
            <div class="h-75">
              <p class="pe-3 text-dark fw-bold lh-sm"><%= place_index_item.name %></p>
              <p class="text-xs text-dark pt-1">クチコミ評価<i class="material-icons rating-icon ps-1">star</i><%= place_index_item.rating %></p>
            </div>
          <% end %>
          <% if @placeable.user? %>
            <%= link_to places_select_itinerary_itineraries_path(place_id: place_index_item.place_id), data: { turbo_frame: "modal" }, class: "d-block mt-1 text-primary text-sm fw-bold" do %>
              <i class="material-icons pe-1" style="vertical-align: -4.5px;">post_add</i>旅のプランに追加
            <% end %>
          <% else %>
            <%= link_to new_itinerary_schedule_path(place_id: place_index_item.place_id), data: { turbo_frame: "modal" }, class: "d-block mt-1 text-primary text-sm fw-bold" do %>
              <i class="material-icons pe-1" style="vertical-align: -4.5px;">more_time</i>スケジュール作成
            <% end %>
          <% end %>
        <% end %>
        <%= link_to @placeable.user? ? [:users_place, id: place_index_item.id] : [:itinerary_place, itinerary_id: @placeable.id, id: place_index_item.id],
          data: { turbo_method: :delete, turbo_confirm: 'このスポットを削除しますか？', turbo_frame: "_top" },
          class: "position-absolute top-4 end-1 text-secondary" do %>
          <i class="material-icons rounded-circle p-1 link-area">close</i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

