<%= turbo_frame_tag place_index_item do %>
  <div class="card mb-3 mx-auto py-2 px-3 position-relative max-width-600">
    <% if place_index_item.error %>
      <p class="pe-3 error-message"><%= place_index_item.error %></p>
    <% else %>
      <%= link_to @placeable.user? ? [:users_place, id: place_index_item.id] : [:itinerary_place, itinerary_id: @placeable.id, id: place_index_item.id], class:"hover-opacity",  data: { turbo_frame: "modal" } do %>
        <p class="pt-1 pe-4 text-dark fw-bold lh-base"><%= place_index_item.name %></p>
        <div class="d-flex align-items-center">
          <p class="text-xs text-dark fw-bold">クチコミ評価</p>
          <i class="material-icons ps-1 rating-icon fs-px-15">star</i>
          <p class="text-xs text-dark fw-bold"><%= place_index_item.rating %></p>
        </div>
        <p class="mt-2 text-xs text-dark"><%= place_index_item.address %></p>
      <% end %>
      <div class="mt-3">
        <% if @placeable.user? %>
          <%= link_to places_select_itinerary_itineraries_path(place_id: place_index_item.place_id),
            class:"d-inline-block hover-opacity", data: { turbo_frame: "modal" } do %>
            <div class="d-flex align-items-center text-primary">
              <i class="material-symbols-outlined me-1 fs-5" style="padding-bottom: 2px;">add_notes</i>
              <p class="text-sm fw-bold">旅のプランに追加</p>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_itinerary_schedule_path(place_id: place_index_item.place_id),
            class:"d-inline-block hover-opacity", data: { turbo_frame: "modal" } do %>
            <div class="d-flex align-items-center text-primary">
              <i class="material-symbols-outlined me-1 fs-5" style="padding-bottom: 2px;">more_time</i>
              <p class="text-sm fw-bold">スケジュールに追加</p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= link_to @placeable.user? ? [:users_place, id: place_index_item.id] : [:itinerary_place, itinerary_id: @placeable.id, id: place_index_item.id],
      data: { turbo_method: :delete, turbo_confirm: 'このスポットを削除しますか？', turbo_frame: "_top" },
      class: "position-absolute top-4 end-1 text-secondary" do %>
      <i class="material-icons rounded-circle p-1 link-area">close</i>
    <% end %>
  </div>
<% end %>

