<%= turbo_frame_tag "itinerary_place" do %>
  <%= form_with url: itinerary_places_add_from_user_places_path(itinerary_id: @itinerary.id), model: [@placeable, @place],
    data: { controller: "itinerary-place", itinerary_place_target: "form" } do |f| %>
    <div class="row input-group input-group-outline mx-0">
      <label class="m-0 px-0 fw-bold">スポットを追加する旅のプラン</label>
      <label class="select-box mb-0 px-0">
        <%= select_tag "itineraries", options_from_collection_for_select(@itineraries, :id, :title, @placeable.id), include_blank: "旅のプランを選択",
          class: "form-control cursor-pointer", data: { itinerary_place_target: "select", action: "change->itinerary-place#setItinerary" } %>
      </label>
    </div>
    <%= f.hidden_field :place_id, value: @place.place_id %>
    <% if @place.errors.any? %>
      <p class="error-message"><%= @place.errors.full_messages_for(:place_id).first %></p>
      <p class="error-message"><%= @place.errors.full_messages_for(:placeable_id).first %></p>
      <%= f.submit "選択した旅のプランに追加", class: "btn bg-gradient-primary d-block mt-4 mx-auto", data: { itinerary_place_target: "submit" } %>
    <% elsif places_include?(@placeable, @place.place_id) %>
      <p class="mt-4 text-center text-sm text-dark">選択したプランのスポットリストに追加しました</p>
      <%= link_to [:itinerary_places, id: @placeable.id], data: { turbo_frame: "_top" } do %>
        <p class="mb-2 py-1 text-center text-sm text-primary fw-bold">スポットリストを確認<i class="material-icons fs-4" style="vertical-align: -6.5px;">navigate_next</i></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
