<% if @placeable.user? %>
  <%= turbo_stream.update "user_place" do %>
    <%= form_with url: users_places_path, model: [@placeable, @place] do |f| %>
      <%= f.hidden_field :place_id, value: @place_id %>
      <%= button_tag type: "submit", class: "btn btn-outline-favorite d-flex justify-content-center align-items-center mt-3 mb-0 w-100" do %>
        <i class="material-icons me-1">favorite_border</i>
        <span>お気に入りに追加</span>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.update "itinerary_place" do %>
    <%= form_with model: [@placeable, @place] do |f| %>
      <%= f.hidden_field :place_id, value: @place_id %>
      <%= button_tag type: "submit", class: "btn bg-gradient-primary d-flex justify-content-center align-items-center mt-3 mb-0 w-100" do %>
        <i class="material-icons me-1">flag</i>
        <span>作成中のプランに追加</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= turbo_stream.remove @place_index_item %>
<%= turbo_stream.update "flash", partial: "layouts/flash" %>
