<header class="navbar navbar-expand-lg navbar-light bg-white py-2">
  <div class="container px-1">
    <% if user_signed_in? %>
      <button class="navbar-toggler shadow-none d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-expanded="false" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
    <% end %>
    <%= link_to image_tag("bestrip_logo.png", width: "100", alt: "besrtip_logo"), root_url, class: "navbar-brand" %>
    <div class="dropdown">
      <a class="navbar-toggler shadow-none ms-2 dropdown-toggle text-secondary" type="button" data-bs-toggle="dropdown">
        <i class="material-symbols-outlined text-secondary fs-3" style="vertical-align: -5.5px;">account_circle</i>
      </a>
      <%= render 'layouts/header_dropdown' %>
    </div>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
      <% if user_signed_in? %>
        <li class="nav-item mx-2">
          <%= link_to "みんなの思い出", :root, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
        </li>
        <li class="nav-item mx-2 dropdown">
          <a class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown">
            マイページ
          </a>
          <%= render 'layouts/header_dropdown' %>
        </li>
        <% else %>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <%= link_to "BesTripの楽しみ方", :root, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <%= link_to "ログイン", :new_user_session, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <%= link_to "新規登録", :new_user_registration, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
