<header class="navbar navbar-expand-lg navbar-light bg-white py-2 sticky-top z-index-10">
  <div class="container">
    <%= link_to image_tag("bestrip_logo.png", width: "100", alt: "besrtip_logo"), root_url, class: "navbar-brand" %>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item mx-2">
            <%= link_to "BesTripの楽しみ方", :root, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "旅の計画一覧", :root, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <%= link_to "#", data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center", id: "dropdownMenuAccount", "data-bs-toggle": "dropdown", "aria-expanded": "false" do %>
              アカウント
              <%= image_tag 'down_arrow_dark.svg', alt: "down-arrow", class: "arrow ms-auto ms-md-2" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuAccount">
              <div class="d-none d-lg-block">
                <ul class="list-group">
                  <li class="nav-item list-group-item border-0 p-0">
                    <%= link_to :destroy_user_session, data: { turbo_method: :delete }, class: "dropdown-item py-2 ps-3 border-radius-md" do %>
                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">プロフィール編集</h6>
                    <% end %>
                  </li>
                  <li class="nav-item list-group-item border-0 p-0">
                    <%= link_to :destroy_user_session, data: { turbo_method: :delete }, class: "dropdown-item py-2 ps-3 border-radius-md" do %>
                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">アカウント情報</h6>
                    <% end %>
                  </li>
                  <li class="nav-item list-group-item border-0 p-0">
                    <%= link_to :destroy_user_session, data: { turbo_method: :delete }, class: "dropdown-item py-2 ps-3 border-radius-md" do %>
                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">ログアウト</h6>
                    <% end %>
                  </li>
                </ul>
              </div>
              <div class="row d-lg-none">
                <div class="col-md-12 g-0">
                  <%= link_to :destroy_user_session, data: { turbo_method: :delete }, class: "dropdown-item py-2 ps-3 border-radius-md" do %>
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">プロフィール編集</h6>
                  <% end %>
                  <%= link_to :destroy_user_session, data: { turbo_method: :delete }, class: "dropdown-item py-2 ps-3 border-radius-md" do %>
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">アカウント情報</h6>
                  <% end %>
                  <%= link_to :destroy_user_session, data: { turbo_method: :delete }, class: "dropdown-item py-2 ps-3 border-radius-md" do %>
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">ログアウト</h6>
                  <% end %>
                </div>
              </div>
            </ul>
          </li>
        <% else %>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <%= link_to "BesTripの楽しみ方", :root, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <%= link_to "ログイン", :new_user_session, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <%= link_to "新規登録", :new_user_registration, data: { turbo: false }, class: "nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" %>
          </li>
        <% end %>
        <li class="nav-item my-auto ms-3 ms-lg-4">
          <%= link_to "旅の計画", :new_user_registration, data: { turbo: false }, class: "btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0" %>
        </li>
      </ul>
    </div>
  </div>
</header>
