<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top z-index-10 py-2">
  <div class="container px-1">
    <% if user_signed_in? %>
      <button class="navbar-toggler shadow-none d-xl-none me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-expanded="false">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
    <% end %>
    <%= link_to image_tag("brand_logo.png", width: "100", alt: "brand_logo"), root_url, class: "navbar-brand ms-md-2 me-0" %>
    <% if request.fullpath.exclude?('/users/invitation') %>
      <ul class="d-flex ps-0 mb-0">
        <% if current_user %>
          <li class="nav-item dropdown border-radius-md link-area d-lg-none cursor-pointer d-flex align-items-center">
            <a class="position-relative d-block d-flex" type="button" data-bs-toggle="dropdown">
              <i class="material-symbols-outlined text-charcoal px-2 fs-3">notifications</i>
              <% if current_user.pending_invitations.count > 0 %>
                <i class="material-icons text-danger text-xs position-absolute" style="top:-2px;right:5px;">fiber_manual_record</i>
              <% end %>
            </a>
            <%= render 'layouts/notification_dropdown' %>
          </li>
        <% end %>
        <li class="dropdown link-area border-radius-md">
          <a class="navbar-toggler dropdown-toggle d-flex d-lg-none align-items-center text-charcoal" type="button" data-bs-toggle="dropdown">
            <i class="material-symbols-outlined text-charcoal fs-3">account_circle</i>
          </a>
          <%= render 'layouts/account_dropdown' %>
        </li>
      </ul>
    <% end %>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item d-flex align-items-center me-2">
            <%= link_to "旅の計画", :itineraries, class: "btn bg-gradient-primary mb-0 fs-px-13" %>
          </li>
          <li class="nav-item d-flex align-items-center ms-2">
            <%= link_to :root, class: "nav-link px-2 border-radius-md link-area",
              "data-bs-toggle": "tooltip", "data-bs-placement": "bottom", title: "みんなの思い出" do %>
              <%= image_tag "brand_icon_charcoal.png", style: "height: 24px;" %>
            <% end %>
          </li>
          <li class="nav-item d-flex align-items-center ms-2">
            <%= link_to :users_places, class: "nav-link d-flex align-items-center px-2 border-radius-md link-area",
              "data-bs-toggle": "tooltip", "data-bs-placement": "bottom", title: "お気に入りスポット" do %>
              <i class="material-symbols-outlined text-charcoal" style="font-size:25px;">favorite_border</i>
            <% end %>
          </li>
          <li class="nav-item dropdown border-radius-md link-area cursor-pointer d-flex align-items-center ms-2">
            <a class="position-relative d-block d-flex" type="button" data-bs-toggle="dropdown">
              <i class="material-symbols-outlined text-charcoal px-2 fs-4">notifications</i>
              <% if current_user.pending_invitations.count > 0 %>
                <i class="material-icons text-danger text-xs position-absolute" style="top:-3px;right:4px;">fiber_manual_record</i>
              <% end %>
            </a>
            <%= render 'layouts/notification_dropdown' %>
          </li>
          <li class="nav-item dropdown max-width-200 border-radius-md link-area cursor-pointer d-flex align-items-center ms-2">
            <a class="nav-link d-block d-flex pe-3" type="button" data-bs-toggle="dropdown">
              <%= image_tag current_user.avatar.url, class: "header-avatar",  alt: "#{current_user.name}のプロフィール画像" %>
              <div style="max-width: 150px;">
              <p class="ms-1 fw-bold text-ellipsis text-sm text-charcoal"><%= current_user.name %></p>
              </div>
            </a>
            <%= render 'layouts/account_dropdown' %>
          </li>
        <% else %>
          <% if request.fullpath.exclude?('/users/invitation') %>
            <li class="nav-item">
              <%= link_to "アカウント登録", :new_user_registration, class: "nav-link px-3 border-radius-md link-area text-sm text-charcoal" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", :new_user_session, class: "nav-link px-3 border-radius-md link-area text-sm text-charcoal" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
