<ul class="navbar-nav">
  <li class="nav-item">
    <p class="mx-3 px-3 py-2 text-dark fw-bold">旅の計画</p>
  </li>
  <li class="nav-item">
    <%= link_to :itineraries, class:"nav-link sidenav-link text-dark" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">library_books</i>
      </div>
      <span class="ms-1">旅のプラン一覧</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :new_itinerary, class:"nav-link sidenav-link text-dark", data: { turbo_frame: "modal" } do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">add_circle_outline</i>
      </div>
      <span class="ms-1">新しいプランを作成</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :users_places, class:"nav-link sidenav-link text-dark" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">favorite_border</i>
      </div>
      <span class="ms-1">お気に入りスポット</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :users_places_find, class:"nav-link sidenav-link text-dark" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">search</i>
      </div>
      <span class="ms-1">スポットを探す</span>
    <% end %>
  </li>
  <li class="nav-item mt-4">
    <%= link_to :root, class:"nav-link py-2 text-secondary" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">home</i>
      </div>
      <span class="ms-1 pt-1">ホーム</span>
    <% end %>
  </li>
</ul>
