<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl fixed-start mt-5 ms-3 py-2 bg-white z-index-3" id="sidenav-main">
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to [:itinerary, id: @itinerary.id], class:"nav-link sidenav-link text-dark" do %>
          <div class="row">
            <div class="col-3 d-flex ps-1 pe-0 align-items-center">
              <%= image_tag @itinerary.image.url, class: "circle-image" %>
            </div>
            <div class="col-9 ">
              <p class="text-sm fw-bold text-ellipsis"><%= @itinerary.title %></p>
              <p class="text-xxs lh-base"><%= l @itinerary.departure_date %> 〜 <br><%= l @itinerary.return_date %></p>
            </div>
          </div>
        <% end %>
      </li>
      <hr class="horizontal dark my-1">
      <li class="nav-item">
        <%= link_to [:itinerary_schedules, itinerary_id: @itinerary.id], class:"nav-link sidenav-link" do %>
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons text-dark">schedule</i>
          </div>
          <span class="ms-1 text-dark">スケジュール</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to [:itinerary_destinations, itinerary_id: @itinerary.id], class:"nav-link sidenav-link" do %>
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons text-dark">outlined_flag</i>
          </div>
          <span class="ms-1 text-dark">行きたい場所</span>
        <% end %>
      </li>
      <li class="nav-item mt-3">
        <%= link_to :itineraries, class:"nav-link text-secondary" do %>
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons text-secondary">arrow_back</i>
          </div>
          <span class="ms-1 text-xs">一覧に戻る</span>
        <% end %>
      </li>
    </ul>
  </div>
</aside>
