<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to [:itinerary, id: @itinerary.id], class:"d-block nav-link sidenav-link text-dark" do %>
      <div class="row">
        <div class="col-3 d-flex ps-1 pe-0 align-items-center">
          <%= image_tag @itinerary.image.url, class: "circle-image" %>
        </div>
        <div class="col-9">
          <p class="fs-15 fw-bold text-ellipsis"><%= @itinerary.title %></p>
          <p class="text-xxs fw-bold lh-base"><%= l @itinerary.departure_date %> 〜 <br><%= l @itinerary.return_date %></p>
        </div>
      </div>
    <% end %>
  </li>
  <hr class="horizontal dark my-1">
  <li class="nav-item">
    <%= link_to [:itinerary_schedules, itinerary_id: @itinerary.id], class:"nav-link sidenav-link text-dark" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">schedule</i>
      </div>
      <span class="ms-1">スケジュール</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to [:itinerary_places, itinerary_id: @itinerary.id], class:"nav-link sidenav-link text-dark" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">outlined_flag</i>
      </div>
      <span class="ms-1">スポットリスト</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to [:itinerary_places_find, itinerary_id: @itinerary.id], class:"nav-link sidenav-link text-dark" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">search</i>
      </div>
      <span class="ms-1">スポットを探す</span>
    <% end %>
  </li>
  <li class="nav-item mt-4">
    <%= link_to :itineraries, class:"nav-link py-2 text-secondary" do %>
      <div class="text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons">arrow_back</i>
      </div>
      <span class="ms-1 pt-1">一覧に戻る</span>
    <% end %>
  </li>
</ul>
